body {
    margin: 0;
    padding: 0;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.Telecommunication-Top-header {
    background-color: #f9f9f9;
    width: 100%;

}
#navigation ul li 
{
    list-style: none;
}
ul .child
{
    display: none;
}
.row
{
    width: 100%;
}
.col-md-7
{
    padding: 0;
}

.logo-content {
    padding-top: 30px;
    height: auto;
}

.logo-image {
    display: inline-block;
    padding-left: 30px;
    float: left;
}

.logo-image img {
    max-width: 90%;
    height: auto;
}

.logo-text {
    padding-top: 25px;
}

.logo-text h2 {
    font-size: 28px;
    color: #58595b;
}
.logo-text span {
    color: #eb812a;
}

.background {
    position: relative;
    max-height: 700px;
    height: 100%;
    background-repeat: no-repeat;
}

.background img
{
        clip-path: polygon(100% -550%, 0% 100%, 100% 100%);

    height: 100%;
    width: 100%;
}
.search {
    text-align: right;
    position: absolute;
    padding-top: 30px;
    left: 178px;
    top: 0;
}


#boxshadow {
    border-bottom: 2px solid gray;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    padding-top: 80px;
    box-shadow: 2px 5px 2px -5px grey;
}

.search {
    text-align: right;
    padding-top: 30px;
}

#search {
    display: inline-block;
    width: 380px;
    height: 36px;
    border-radius: 10px;
    margin: 0 auto;
    color: #6b6b68;
}

.read-more-btn {
    margin-top: 30px;
    text-align: center;
    width: 125px;
    height: 32px;
    background-color: #eb822e;
    border: 1px solid #eb822e;
    border-radius: 50px;
}
.service-read-more-btn
{
     text-align: center;
    width: 125px;
    height: 32px;
    background-color: #eb822e;
    border: 1px solid #eb822e;
    border-radius: 50px; 
    margin: 0 auto;
}
.service-read-more-btn a
{
    color: #fff;
    text-decoration: none;
}
.read-more-btn a {
    color: #fff;
    text-decoration: none;
}

.btn {
    color: gray;
    border-right: none;
    font-family: sans-serif;
    border-top: none;
    border-bottom: none;
    border-radius: 1px;
}

.dropdown {
    display: inline-block;
    position: relative;
    right: 206px;
    margin: 5px;
}

.fa-sort-down {
    color: orange;
    margin-left: 3px;
    position: relative;
    bottom: 2px;
    font-size: 10px;
}

.search-btn {
    height: 35px;
    background-color: rgb(129, 197, 253);
    position: relative;
    right: 15px;
    width: 90px;
    color: rgb(255, 255, 255);
    border-width: 1px 1px 1px;
    border-style: solid solid solid none;
    border-image: initial;
    border-radius: 50px;
    padding: 5px;
}
.main-nav
{
    position: absolute;
    top: 70px;
    left: 108px;
}

.main-nav ul li {
    display: inline-block;
    padding: 18px;
}

.overlay {
    background-color: #517b9a;
}

.main-nav ul li a {
    transition: 0.4s;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.navbar-nav {
    margin: 0 auto;
}

.main-nav ul li :hover {
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
}

.Engenering-service h2 {
    margin-top: 50px;
    width: 50%;
}

.circle {
    position: absolute;
    text-align: right;
    margin-top: 96px;
    right: 765px;
}
.about-us-section {
    background: linear-gradient(132deg, #FFF 20%, #ebebeb 20%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.fa-sort-down:before,
.fa-sort-desc:before {
    content: "\f0dd";
    margin: 5px;
}

.circle img {
    width: 270px;
    height: 250px;
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}
.about-us {
    height: 500px;
}



.orange-border
{
        border-top: 10px solid #eb822e;
    width: 14%;
}
.title  {
        position: absolute;
    top: 180px;
    left: 690px;
}
.title h2
{
        font-size: 50px;
}

.gray-background {
    background-color: #ebebeb;
    height: 100%;
}
.our-service-about h2
{
    width: 38%;
    color: #58595b;
}
.our-service-text 
{
        width: 85%;
    margin-top: 20px;
}
.our-service-text p
{
    color: #77787b;
}

.wires-photo
{
    text-align: center;
}
.wires-photo img
{
          width: 35%;
    height: auto;  
}
    
.our-service-boxes {
    opacity: 0.9;
    box-shadow: 29px 8px 11px 76px #FFFFFF;
    padding: 19px;
}
.box {
    margin: 0 auto;
    width: 275px;
    margin-bottom: 28px;
    height: 450px;
    border: 4px solid gray;
    border-radius: 10px;
    background-color: #ebebeb;
}
.box-icon
{
    text-align: center;
    margin:  0 auto;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 5px solid #e1e1e1;
    border-radius: 50%;
    margin-top: 20px;
}
.box-icon i
{
    padding:30px;
    font-size: 60px;
    color: #5c5d5f;
}
.box-title {
    text-align: center;
    padding-top: 5px;
    border-bottom: 5px solid #eb812a;
}
.box-title h2
{
    width: 81%;
        margin: 0 auto;

  
}

.box-content
{
    padding: 19px;
}
.box-content p
{
    font-size: 12px;
}
.our-project-title
{
        width: 25%;
}
.our-project-title h2 {
    color: #58595b;
    width: 29%;
    margin: 0 auto;
    border-bottom: 5px solid #eb812a;
}
.project-images img
{
    width: 100%;
    height: auto;
}
.side-image
{
    margin: 15px;
}
.side-image img {
    width: 180px;
    height: auto;
}
.aside-images 
{
    margin:  0 auto;
}
.footer
{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

     background: linear-gradient(132deg, #eb812a 70%, #a2a2a2 30%);
    height: 100%;
    padding-top: 20px;
}
.social-media
{
    
    padding-left: 35px;
    color: #fff;
}
.social-media ul li
{
    display: inline-block;
}
.social-media ul li {
    border-radius: 50px;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    background-color: #fff;
        padding: 5px;
    text-align: center;

}
.social-media ul li a i {

font-size:15px;
        color: #58595b;

}
.social-media ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
}


.social-media
{
        display:flex;
        padding-top: 30px;

}
.social-media p
{
    padding-top: 4px;
}
.footer_links 
{
    margin-top: 20px;
    width: 50%;
        border-left: 1px solid #000;
    padding: 5px;

}

.footer_links ul
{
    list-style: none;
    padding: 0;
    height: 100%;
}
.footer_links ul li a
{
    color: #fff;
    text-decoration: none;
}
.footer_links2
{ 
    margin-top: 20px;
    width: 50%;
        border-left: 1px solid #000;
            border-right: 1px solid #000;

    padding: 5px;

}

.footer_links2 ul
{
    list-style: none;
    padding: 0;
    height: 100%;
}
.footer_links2 ul li a
{
    color: #fff;
    text-decoration: none;
}
.footer_circle
{
        margin: 0 auto;
       margin-top: 27px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:1px solid #b2b2b2;
    background-color: #fff;
}
.footer_circle i
{
    padding: 15px;
    font-size: 45px;
}
.handshake-text p
{
    color: #fff;
    text-align: center;
}
.copyrights p
{
        text-align:  center;
    font-size: 15px;
    padding-top: 50px;
}
.side-image
{
    text-align: center;
}
.search-section
{
    position: relative;
}
@media screen and (max-width: 900px) and (min-width: 360px) {
.dropdown {
    display: inline-block;
    position: relative;
    right: 0px;
    bottom: 43px;
    margin: 5px;
}
    #search {
    display: inline-block;
    width: 358px;
    height: 36px;
    border-radius: 10px;
    margin: 0 auto;
    color: #6b6b68;
}
.read-more-btn {
    margin-top: 30px;
    text-align: center;
    width: 125px;
    margin-bottom: 20px;
    height: 32px;
    background-color: #eb822e;
    border: 1px solid #eb822e;
    border-radius: 50px;
}
    .background
    {
                clip-path:none;
    }
    
.circle {
    position: absolute;
    text-align: right;
    margin-top: 96px;
    right: 149px;
}
    .title {
    position: absolute;
    top: 31px;
    left: 225px;
}
    .circle img {
    width: 193px;
    height: 136px;
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}
    .search-btn {
    height: 39px;
    background-color: rgb(129, 197, 253);
    position: relative;
    right: 15px;
    width: 90px;
    color: rgb(255, 255, 255);
    border-width: 1px 1px 1px;
    border-style: solid solid solid none;
    border-image: initial;
    border-radius: 21px;
    padding: 5px;
}

}
@media only screen and (max-width: 411px) {
   .about-us-section {
    background: linear-gradient(123deg, #FFF 9%, #ebebeb 8%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
}
@media only screen and (max-width:1100px) {

    }
        
