body {
    direction: rtl;
    margin: 0;
    padding: 0;
}
.top-header
{
    padding-top: 20px;
}
.top-header p
{
    display: inline-block;
        padding-left: 20px;
}
.contact
{
    float: right;
    padding-right: 25px;
}

.login-btn a
{
    color: #fff;
    background-color: #563c3d;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #563c3d;
}
.main-header
{
    background-color: #231f20;
    padding: 10px;
}
.logo img
{
    width: 100%;
}
.main-nav ul li
{
    padding: 6px;

}
.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.main-header
{
    padding-top: 10px;
}
.search
{
   border-radius: 10px;
    width: 75%;
    height: 30px;
    float: left;
}
.search-section
{
    padding-top: 10px;
}
.search-section i
{
    padding-top: 8px;
    display: inline-flex;
    color: #fff;
    margin-left: 5px;
}
.navbar-toggler
{
    background-color:#fff;
    position: relative;
    right:90%;
}
.row
{
    width: 100%;
}
.slider
{
        background-color: #ededed;
}
.slider-img
{
    height: 270px;
}
.slider-img img
{
    width: 95%;
    height: 100%;
}
    .horzntial-social-media
    {
         padding-top: 34px;
    background-color: #ededed;
         float: right;
    width: 5%;
    height: 273px;
    }
   
.horzntial-social-media ul
{
    padding: 0;
    list-style-type: none;
}
.col
{
    padding: 0;
}
.col-md-11
{
    padding: 0;
}

.horzntial-social-media ul li 
{
padding: 6px;
}
  
.top-left {
    transform: rotate(-90deg) scaleX(-1);
    font-size: 10px;
    transform-origin: top left;
}

.sales h3
{
    text-align: center;
    color: #663333;
}

.sales-item {
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.card-img-top
{
          height: 170px;
}
.card-title {
    font-size: 12px;
    text-align: center;
}
.sales h5 {
    text-align: center;
    color: #663333;
    font-size: 12px;
}
.sales
{
     margin-right: 50px;
}

.old-price 
{
    color: #8c8282;
    text-decoration: line-through;
    text-align: center;
}
.new-price
{
    color: #996633;
    text-align: center;
}
.sales-basket {
    padding: 9px;
    background-color: #663333;
}
.sales-basket p
{
    margin: 0;
    color: #fff;
    text-align: center;
}
.offers-images
{
    margin: 10px;
}
.offers-images img
{
    width: 99%;
}
.newest-offers h2
{
    text-align: center;
}
.newest-offers
{    margin: 20px;
}
.tools-section
{
    margin-right: 30px;
}
.tool-item
{
    border: 1px solid  #8c8282;
       border-radius: 12px;
    width: 80%;
    float: left;
    margin-bottom: 30px;

}
.tools
{
    padding-top: 30px;
    background-image: url("../images/bg1.jpg");
    background-size: 100% 100%;
    height: 100%;
}
.tool-text
{
   background-color:#663333; 
    border-radius: 10px;
}
.tool-item:hover
{
    opacity: 0.9;
}
.tool-text h5
{
    text-align: center;
    color: #fff;
    border-radius:20px;
    margin: 0;
    padding: 7px;
}
.coperation-logo
{
    border: 3px solid #bfbfbf;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
       height: 100px;
}
.coperation-logo img
{
    width: 80%;
}
.coperation-item
{
    margin-bottom: 20px;
}
.mechandise
{
    margin: 15px;
    border: 1px solid #bfbfbf;
    border-radius: 20%;
}
.mechandise img
{
    width: 100%;
}
.subscribe
{
    margin-bottom: 30px;
    background-color: #231f20;
    padding-top: 20px;
}
.subscribe
{
    padding: 25px;
    color: #fff;
}
.subscribe p
{
    text-decoration: underline;
    font-size: 12px;
}
.subscribe p:hover
{
    color: gray;
}
.subscribe-content 
{
    text-align: right;
}
.subscribe-text
{
    font-size: 9px;
    padding-top: 7px;
}
.form-control
{
       width: 77%;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.subscribe-button {
    display: inline-flex;
    background-color: #c9b79c;
    border: 1px solid #c9b79c;
    border-radius: 5px;
    position: relative;
    left: 86px;
        width: 89px;
}
.footer-logo img {
    width: 80%;
}
.btn
{
    color: #fff;
    display: inline-flex;
}
.subscribe-content h5
{
font-size: 17px;    
}
.footer-links1 ul
{
    list-style-type: none;
    text-align: center;
}
.footer-links1 ul li
{
    padding: 5px;
}
.footer-links1 ul li a
{
   color: #663333; 
}
.contact-icons
{
    color:#663333; 
}
.contact-icons i {
    float: right;
    padding-top: 5px;
    margin-right: 100px;
}
.contact-icons p
{
    text-align:right;
}
@media only screen and (max-width: 1199px) {
  
}
    .old-price {
    color: #8c8282;
    text-decoration: line-through;
    text-align: center;
    font-size: 10px;
}
    .new-price {
    color: #996633;
    text-align: center;
    font-size: 10px;
}
    .sales-basket p {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 15px;
}
@media only screen and (max-width:  538px) {

    .subscribe-button {
   float: left;
}
}
@media only screen and (max-width:767px) {

    .coperation-logo img {
    width: 40%;
}
}
    @media only screen and (max-width: 960px) {
.sales-item {
    width: 120px;
}
}