body
{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.background
{
    position:relative;
}
.background .slider
{
        width: 100%;
        display: block;
box-shadow: 0 12px 10px rgba(0, 0, 0, 0.9);
    margin-bottom: 50px;
}

.logo-img img
{
       width: 350px;
}
.overlay
{
    width: 100%;
}
.background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 170px;
    right: 0;
    background: rgba(23,22,28,0.9);
}
.header-container {
    padding: 25px;
    position: absolute;
    top: 0;
        width: 100%;
}
.main-nav
{
    float: right;
}
.main-nav ul li
{
    padding: 5px;
}
.main-nav ul li i
{
    color: gray;
}

.main-nav ul li a
{
    padding: 5px;
    position: relative;
    display: block;
    color: #a6a7ae;
    color: #fff;
    text-decoration:none;
    transition: .5s;
}
.main-nav ul li a::before
{
    content: '';
    display:block;
    
    width: 0%;
    height: 3px; 
    transition: width .3s;
background-color:  #06a4df; 
}
.main-nav ul li a:hover::before
{
    width: 100%;
    transition: width .3s;
}
.main-nav ul li ul
{
    padding: 0;
}
.main-nav ul ul 
{
    display: none;
}
.main-nav ul li ul li
{
  background-color: #000;
    border: 1px solid #fff;
}
.main-nav ul li:hover >ul
{
    display: block;
}

.slider-content
{
    position: absolute;
    top: 300px;
    left: 100px;
}
.slider-content h2
{
    margin-bottom: 25px;
}
.slider-content b
{
    color: #fff;
    font-size: 50px;
}
.slider-content h3
{
    margin-bottom: 40px;
    font-size: 45px;
color: #fff;
    text-align: center;
}
.slider-read-more-btn 
{
    width: 144px;
    padding-top: 8px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    background-color: #0e6cd1;
    border: 1px solid #0e6cd1;
    border-radius: 15px;
}
.slider-read-more-btn  a
{
    color: #fff;
    text-decoration: none;
}
.read-more-btn {
    width: 144px;
    padding-top: 8px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    background-color: #0e6cd1;
    border: 1px solid #0e6cd1;
    border-radius: 15px;
}
.read-more-btn a {
 color: #fff;
    text-decoration: none;
}
.sheam-introduction-content h1
{
    color: #636466;
        font-size: 50px;
    text-align: center;
}
.sheam-introduction-des {
    text-align: center;
    margin: 0 auto;
}
.sheam-introduction-des p
{
    width: 100%;
    font-size: 16px;
    color: #333333; 
}
.background2
{
    
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.9);
margin-bottom: 30px;
    background-image: url("../images/Untitled-4_0%20(1).jpg");
    height: 800px;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.background3
{
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    height: 100%;
}
.background-img
{
padding-top: 80px;
}
.background3::after {
    content: "";
    background: url("../images/bg2.png"); 
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: 100% 100%;
      box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5);

}
.torurism::after {
    content: "";
    background: url("../images/bg3.png"); 
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 100% 100%;
}
.torurism
{
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    height: 100%;
box-shadow: 0 21px 24px rgba(0, 0, 0, 0.9);
}
.package-item {
    clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 1% 0);
    opacity: 1;
    border: 1px solid #bfbfbf;
    width: 300px;
    height: 570px;
    margin-top: 30px;
        margin: 0 auto;

    margin-bottom: 30px;
    background-color: #fff;
}
.pakage-image img
{
    width: 100%;
    height: 200px;
}
.package-durition
{
    margin-top: 15px;
    text-align: center;
}
.package-durition p
{
    color: #858587;
}
.package-name h3
{
    color: #23527c;
    text-align: center;
        margin-bottom: 25px;
}
.package-des p
{
    
    text-align: center;
}
.package-price h3
{
    text-align: center;
    color: #1795de; 
}
.book-btn {
    width: 135px;
    height: 35px;
    border: 1px solid gray;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    border-radius: 18px;
    background-color: #6a6b6e;
}
.toruism-packages
{
    margin-top: 50px;
}
.book-btn a
{
    color: #fff;
    text-decoration: none;
}
.omra-packages
{
    margin: 0 auto;
}

.footer
{
    background-color: #f1f2f2;
    padding-left: 20px;
}
.row
{
    width: 100%;
}
.sheam-adress
{
   color:#58595b;
}
.sheam-adress h3
{
    font-size: 23px;

    
}

.sheam-adress-content i {
    float: left;
    color: rgb(66, 66, 66);
    margin-right: 5px;
    font-size: 50px;
}
.sheam-adress-content h2 {
    padding: 14px;
      font-size: 20px;
    color: #006fe6;
}
.sheam-adress-content p
{
    padding-top: 20px;
    color: #58595b;
}

.adress
{
    margin-left: 60px;
}
.sheam-adress-content img
{
        margin-right: 10px;
    float: left;
}
.phone-number
{
    padding-top: 50px;
}
.phone-number img
{
        margin-right: 10px;
        float: left;
}
.phone-number h3
{
    color: #006fe6;
    padding-top: 10px;
}
.phone-numbers p
{
        margin-left: 58px;
    color: #58595b;
}
#social-media
{
    padding-top: 50px;
}
#social-title h2
{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    color: #58595b;
}
#social-media ul
{
    text-align: center;
    padding: 0;
    list-style: none;
}
#social-media ul li {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #006fe6;
    display: inline-block;
}
#social-media ul li i
{
    color: #fff;
}
#social-media ul li  a i
{
   font-size: 35px;
}
.news-letter-title h2
{
    color: #58595b;
}
.news-letter-title h2
{
    padding-top: 25px;
    font-size: 25px;
}
#search {
    width: 90%;
    background-color: #d7d7d7;
}
.form
{
    padding-top: 50px;
}
.submit {
    width: 70px;
    height: 34px;
    border: 1px solid #006fe6;
    background-color: #006fe6;
    position: absolute;
    padding: 6px;
    left: 215px;
    border-radius: 6px;
    top: 115px;
}
.submit a
{
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.copyrights {
    background-color: #000000;
    padding: 5px;
}
.copyrights p {
    color: #959595;
    padding-top: 15px;
    text-align: center;
}
.social-title h2
{
    padding-top: 20px;
    text-align: center;
}
.social-title b {
    font-size: 22px;
    padding-top: 30px;
    color: #58595b;
}
.sheam-adress-content
{
    padding-top: 16px;
}