/* styling for RANIA TOURS AND TRAVEL WEBSITE*/


body
{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;

}
/* styling for top-header-->*/
.rania-top-header
{
    background-color: #09558d;
}
.rania-top-header p
{
    font-size: 24px;
}


.main-header
{
    margin: 22px;
}


.rania-top-header p
{
    padding: 12px;
    color: #fff;
    font-size: 12px;
    height: 40px;
    
}
.logo-text 
{
    
    font-family: Serif;
    width: 100%;
    font-size: 22px;
    color: orange;
}
.logo-text p
{
    width: 100%;
    font-size: 34px;
}
.rania-top-header h3
{
    right: 12px;
    
    text-align: right;
    padding: 15px;
    color: #fff;
    font-size: 5px;
    top: 0;
    font-size:16px;
    height: 44px;
}


.logo-text
{
   margin:auto;
    text-align: center;
}


.social-media a i
{
    color:#85beda; 
    padding: 15px;
    top: 0;
    height: 44px;
    color: #fff;
}

.navbar-nav
{
    font-size: 15px;
}

.nav-item a
{
    color: #77787b;
}

.slider
{
    position: relative;
   
}
.slider img
{
    width: 100%;
    height: auto;
}
.slider-text
{
    background: rgb(0,0,0,0.5);
    position: absolute;
    width: 100%;    
    height: 100%;
    top: 0;
    right: 0;
}
.slider-text h2
{
    font-size: 40px;
    padding-top: 70px;
    color: #fff;
    text-align: center;   
}

.slider-content
{
    position: absolute;
    width: 100%;
    top: 150px;
    right: 0px;
    text-align: center;
    color: #fff;
}
.slider-content p
{
    font-size: 25px;
}
.form img
{
    width: 100%;
}
.promotion
{
    text-align: center;
}
.promotion h1
{
    color: #09558d;
}

.travel-deals2
{
    margin: 10px;
}
.logo-deal img
{
    width: 200px;
}
.horzintal
{
    width: 50%;
    border: 1px solid #000;
}
.deal-logo
{
    margin-top: 30px;
}

.deal-text
{
    text-align: left;
    color: #fff;
}
.text-footer 
{
    width: 85%
}
.text-footer p
{
    color: #000;
}
.Arrival
{
    margin: 50px;
}
.Arrival h1
{
    color:#09558d; 
    text-align: center;
}
.Arrival h1
{
    color:#09558d; 
    text-align: center;
}
.Arrival p
{
    color:#656565; 
}
.section-1
{
    width: 100%;
    background-image: url(../image/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.n-box
{
    margin-bottom: 20px;
}
.box
{
    height: 600px;
}
.events-box
{
    width: 99%;
}
.events
{
    background-color: #fff;
}
.n-box
{
    transition: all 1.5s ease;
}
.n-box:hover
{
    transform: scale(1.1);
}
.news-content
{       transition: all 1.5s ease;

}
.news-content:hover
{
    transform: scale(1.1);
}
.events h1
{
    text-align: center;
    color: #09558d;
}
.events p
{
    font-size: 15px;
    color: gray;
}

.event-content
{
    background-color: gray;
    height: 70px;
    color: #fff;
}
.event-content p
{
    padding: 10px;
    color: #fff;
}

.section-2
{
    width: 100%;
    height: 100vh;
    background-image: url(../image/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-image: rgb(0,0,0.5);
    position: relative;
}
.news-content
{
    margin-bottom: 20px;
}
.news-blogs
{
    position: absolute;
    width: 100%;
    top: 390px;
    background-color: white;
}
.news-blogs h1
{
    text-align: center;
    color:#09558d;
}

.news-text
{
    background-color: #435363;
}

.news-header h5
{
    color: #fff;
    font-size: 15px;
}
.news-text p
{
    color: #fff;
}
.compeny-brand
{
    background-color: white;
    width: 100%;
}
.brand img
{
    width: 90px;
}
.footer
{
    padding: 40px;
    text-align: center;;
    background-color: black;
}
.footer h3
{
        color: #fff;

}
.links
{
    list-style-type: none;
    text-align: center;
}
.links a
{
    margin: 5px;
    color: #fff;
}
.social-text
{
    padding: 20px;
}
.socail-text h5
{
    padding-top: 40px;
    color: #fff;
}

.socail-text a i
{
    color:#fff;
    font-size: 25px;
    padding: 10px
}
.deal-logo 
{
    transition: all 1.5s ease;
}
.deal-logo:hover
{
    transform: scale(1.1);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

@media screen and (max-width: 640px) {
 .slider-text h1 {
   font-size: 37px;
    padding-top: 16px;
    color: #fff;
    text-align: center;

}
     .slider-text h1 {
   font-size: 37px;
    padding-top: 16px;
    color: #fff;
    text-align: center;

}
 .slider-content p
{
    font-size: 15px;
}  
   .deal-logo img
{
    transition: all 1.5s ease;
}
.deal-logo img:hover
{
    transform: scale(1.3);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
} 

}
@media screen and (max-width: 570px) {
    .main-header img
    {
        width: 100%;
    }
    .logo-text p
    {
        font-size: 15px;
        text-align:left
}
    .navbar
    {
        position: relative;
    bottom: 85px;
    left: 150px;
    display: inline;
    }
}
@media screen and (max-width: 983px) {
      .navbar
    {
        position: relative;
    left: 150px;
    display: inline;
    }

}

@media screen and (max-width: 1300px) {
       .logo-text p
    {
        font-size: 20px;
}
     .main-header img
    {
        width: 100%;
    }
}
