body
{
    padding: 0;
    margin: 0;
    font-family: "Monotype Corsiva" sans-serif;
}
.header-background
{
    background-image: url("image/header-cover.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.header
{
    width: 99%;
        padding-top: 30px;
}
.contact-info
{
    margin-left: 20px;
}
.contact-info i
{
    color: #717275;
    display: inline-block;
    font-size: 25px;
}
.contact-info p {
    display: inline-block;
    padding-left: 2px;
    font-size: 14px;
}
.image-logo
{
    width: 99%;
}
.social-media p
{
    display: inline-block;
}
.social-media ul
{
    list-style-type: none;
        display: inline-block;
}
.social-media i
{

    padding: 5px;
    color: white;
    border: 1px solid #004a6b;
    background-color: #004a6b;
    border-radius: 50%;
    font-size: 15px;
}
.nav-item
{
    margin-top: 40px;
    padding: 25px;
}
.nav-item a
{
      color: #717275;
    text-decoration: none;
}
.nav-item a:hover
{
    border-top: 3px solid #074663;
    width: 20%;
}
.search
{
        padding-top: 55px;
    width:350px;
    display: inline-flex;
}
.search input
{
    color: #898a8c;
   border-left:none;
        background-color: #dcddde;
}
.search-btn
{
    display: inline-flex;
    border: 1px solid #213c76;
    background-color: #213c76;
    border-radius: 10%;
    width: 60px;
}
.fa-search
{
    padding: 8px;
    color: white;
}
.slider
{
    position: relative;
}
.slider img
{
    width: 100%;
    height: auto;
}
 .slider-text
{
    background: rgb(0,0,0,0.5);
    position: absolute;
    width: 100%;    
    height: 100%;
    top: 0;
    right: 0;
} 
.slider-text h2
{
    font-size: 40px;
    padding-top: 120px;
    color: #fff;
    text-align: center;   
}
.slider-content
{
    position: absolute;
    width: 100%;
    top: 180px;
    right: 0px;
    text-align: center;
    color: #fff;
}
.slider-content p
{
    font-size: 25px;
    color: #fff;
}
.btn 
{
    margin: 25px;
    border-radius: 10px;
    background-color: #005495;
    color: white
}
.Kcrop-introduction
{
    margin-top: 50px;
}
.Kcrop-title span
{
    padding-left: 20px;
    color: #005495; 
}
.Kcrop-description
{
    
    color:#636466; 
}
.Kcrop-introdution-image img
{
    width: 100%;
    height: auto;
}
.kcrop-services
{
    background-color: #f2f7fa;
}
.kcrop-services h2
{
    text-align: center;
}
.circle {
     width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 15px solid #578fba;
    box-shadow: 0 0 0 12px #91b6d2;
    margin-bottom: 50px;
    margin:  0 auto;
}
.service-item
{
       width: 6.3em;
    height: 6.3em;
    border-radius: 50%;
    border: 15px solid #005495;
}
.service-text
{
    margin-top: 20px;
}
.service-icon
{
    margin: 10px
}
.service-icon i
{
    font-size: 45px
}
.services-section
{
    padding-top: 40px;
}
.service-title h5
{
    text-align: center;
font-size: 15px;
    color: #105f9c;
}
.service-description p
{
    text-align: left;
}
.kcorp-products p
{
    text-align: center;
    color: #105f9c;
}
.product-img img
{
    width:100%;
    height: auto;
}
.product-title h2
{
    margin-top: 10px;
    text-align: center;
    
}
.product-types ul
{
    text-align: center;
    list-style-type: none;
}
.product-item
{
    filter: grayscale(1);
    transition: all 1.5s ease;
}
.product-item:hover
{
    transform: scale(1.1,1.1);
    filter: none;
}
.kcrop-products-header h2,p
{
    text-align: center;
}
.kcorp-aniversary
{
    height: 700px;
    background-image: url("image/50-Years.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contact-form
{
    background-color: #105f9c;
    padding: 50px;
}
.form-text
{
    color: white;
}
#message
{
    width: 70%;
}
.form-control
{
    display: inline-block;
}
.sector-service
{
    color: #f1f1f1;
    margin-top: 50px;
}
.sector-service-header h2,p
{
    color: #58595b;
    text-align: center;
}
.industrial
{
    margin-top: 30px;
}
.industrial-content h4
{
    text-align: center;
}
.industrial-item
{
    margin-bottom: 90px;
}
.insdstrial-circle img
{
    margin: 0 auto;
     width: 13em;
    height: 13em;
    border-radius: 50%;
}


.industrial-content
{
    margin-top: 10px;
    filter: grayscale(1);
}
.industrial-content h3
{
    width: 99%;
    color:#105f9c;
    text-align: center;
}

.industrial-btn 
{
    border-radius: 10px;
    background-color: #005495;
    color: white;
    width: 150px;
}
.industrial-content:hover
{
    filter: none;
}
.counter
{
    height:100%;
    background-color: #939393;
    
}
.counter-icon
{
    padding: 30px;
}
.counter-icon i
{
    color: #fff;
    font-size: 35px;
}
.card-title h3
{
    padding-top: 20px;
}
.rbtn
{
    position: relative;
    bottom: 25px;
    left: 75px;
}
.counter-item h2
{
    color: #fff;
}
.counter-item:hover
{
    background-color: #105f9c;
    height: 300px;
}
.bottom-border
{
    border-top:1px solid #fff;
    width: 50%;
    height: 20px;
}
.counter-number h2
{
    color: #fff;
}
.counter-des p
{
    text-align:center;
    color: #fff;
}
.customer-reviews
{
    background-image: url("image/coustomer-reviews.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.customer-reviews-header
{
    padding-top: 30px;
}
.customer-reviews-header h2
{
    text-align: center;
}
.customer-reviews-items
{
    
padding-bottom: 50px;
}
.card
{
    margin-bottom: 20px;
}
.rbtn
{
    border-radius: 10px;
    background-color: #005495;
    color: white;
    border: 1px solid  #005495;
    width: 190px;
}
.card-title
{
    text-align: center;
}
.service
{
    position: relative;
}
.service img
{
    width: 100%;
    height: auto;
}
 .service-text h2
{
    position: absolute;
    width: 99%;    
    height: 100%;
    top: 80px;
    color: #fff;
    font-size: 55px;
    width: 50%;
   left:50px;
} 
.service-btn 
{
    position: absolute;
    width: 95%;    
    height: 100%;
    top: 280px;
    left: 50px;
}
.news-events
{
    background-image: url("image/NEWS&EVENTS-bg.png");
        background-size:100% 100%;
    
    padding-bottom: 50px;
    background-repeat: no-repeat;

}
.news-events-section
{
    padding-top: 100px;
    width: 80%;
    padding-left: 50px;
}
.news-events-section h2
{
    text-align: center;
}
.event-images
{
    margin-top: 50px;
}
.row
{
    width: 100%;
}
.event-image img
{
       width: 100%;
}
.service-news:hover
{
    border: 1px solid black;
    width: 70%;
}
.news-box
{
    margin-top: 30px;
    width: 90%;
    padding: 10px;
}
.news-box  h4
{
    color: #105f9c;
}
.news-box  p
{
        margin-top: 20px;
    text-align: left;
}
.map
{
    margin-left: 50px;
}

.footer
{
    background-position: center center; 
    background-image: url("image/footer-bg02.png");
    background-size: 100% 100%;
    width: 100%;
    background-color: #0000ff96;
    background-repeat: no-repeat;
  
}
.footer-contact
{
    color: #fff;
}
.footer-contact h4
{
    text-align: center;
}
.footer-contact p
{
    color: #fff;
}
.footer-links h4
{
    color: #fff;
}
.footer-links ul
{
    list-style-type: none;
}
.footer-links i
{
    padding-right: 20px;
}
.footer-links ul li
{
    color: #fff;
    margin: 10px;
}
.social-media i
{
    background-color:#074663;
    color:#fff;
}
.contact
{
    color: #fff;
}
.contact ul
{
    list-style: none; 
}
.blue-background {
    opacity: 0.9;
    height:100%;
    filter: alpha(opacity=50);
    background-color: #004a6b;
    padding-top: 80px;
}
.contact ul li
{
    margin: 12px;
}
.contact i
{
    padding-right: 20px;
}
.copyrght
{
    background-color: gray;
}
@media only screen and (max-width: 640px) {
.btn
    {
        display: none;
    }
    .slider-content p
{
    font-size: 20px;
    color: #fff;
}
    .slider-content {
    position: absolute;
    width: 100%;
    top: 83px;
    right: 0px;
    text-align: center;
    color: #fff;
}
    .slider-content p {
    font-size: 10px;
    color: #fff;
}
}
@media only screen and (max-width: 975px) {
    
.service-text h2 {
 
        display: none;
}
    .service-btn {
 display: none
}
    .slider-text h2
{
    font-size: 20px;
    padding-top: 20px;
}    
}
.counter-number  h2
{
    text-align: center;
}
