body
{
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
.sooq-almomtaz-header
{
    
       padding-top: 50px;
background-color: #f3f3f3; 
}
ul
{
    padding: 0;
}
.sooq-logo
{
    width: 100%;
}
.shopping-cart-menu 
{
display: inline-block;
}
.shopping-cart-menu ul li
{
    display: inline-block;
    padding: 5px;
    border-right: 1px solid gray;
}
.none
{
    border-right: none!important;
}
.shopping-cart-menu ul li a
{
    text-decoration: none;
    color:gray;
}
.social-media 
{
    padding-left: 70px;
    text-align: center;
    display: inline-block;
}
.social-media ul
{
    list-style: none;
}
.social-media ul li
{
    display: inline-block;
    padding: 5px;
    border: 1px solid #6d6e71;
    background-color:#6d6e71;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.social-media ul li a
{
    color: #fff;
}
.social-media ul li a i:hover
{
    color: gray;
}
#search
{
    width: 75%;
    width: 75%;
        margin-bottom: 35px;
    position: relative;
}
.search-btn {
    border: 1px solid #a51319;
    width: 100px;
    height: 36px;
    background-color: #a51319;
    position: absolute;
    bottom: 36px;
    right: 26%;
    border-radius: 5px;
    text-align: center;
}
.search-btn a
{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.main-navbar
{
    background-color:#a51319; 
}
#menu {
    width: 35px;
    height: 35px;
    display: inline-block;
    padding-top: 25px;
    left: 28px;
    position: relative;
    cursor: pointer;
}
.bar
{
    padding-top: 5px;
    height:5px;
    width: 100%;
    background-color: #fff;
    display: block;
    border-radius: 3px;
    transition: 0.3s ease;
}
#bar1
{
    transform: translateY(-4px);
}
.row
{
    width: 100%;
}
#bar3
{
    transform: translateY(4px);
}
.change .bar
{
    background-color: #000;
}
.change #bar1
{
    transform: translateY(4px)rotateZ(-45deg);
}
.change #bar3
{
    transform: translateY(-6px) rotate(45deg);
}
.change #bar2
{
    opacity: 0;
}
.catagory-nav {
    text-align: center;
    padding: 0;
    position: absolute;
    z-index: 3;
    height: 69px;
    margin: 5px 1px;
    transition: 0.3s ease;
    display: none;
}
.catagory-nav ul {
    width: 200px;
    height: 415px;
    background-color: #fff;
}
.catagory-nav ul li a:hover{
    font-weight: bold;
}
.catagory-nav ul li
{
    list-style: none;
    padding: 16px 0px;
}
.catagory-nav ul li a
{
    color:gray;
    text-decoration: none;
}
.change
{
    display: block;
}
.navbar-nav li
{
    padding: 10px;
}
.navbar-nav li a
{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navbar-nav li a:hover
{
    color: gray;
}
.shopping-cart i
{
padding-top: 20px;
color:
#fff;
font-size: 22px;
}
.slider
{
    margin-top: 50px;
}
.catagory-title
{
        display: inline-block;
    padding-left: 35px;
    color: #fff;
}
.slides-navigation .prev,
.slides-navigation .next
{
    background-size: cover;
    width: 47px;
    height: 47px;
}
.slides-pagination {
    z-index: 2;
}
.slides-navigation a.prev
{
    left: 20px;
    background-image: url("../images/icons8-go-back-100.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slides-navigation a.next
{
    right: 20px;
    background-image: url("../images/icons8-forward-button-100.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slides-navigation
{
    z-index: 2;
}
.mechandise
{
    margin-top: 80px;
}
.hot-deals
{
height: 87%;
        padding-bottom: 12px;
    background-color: #fff;
padding-bottom: 65px
}
.hot-deals h3
{
    padding: 5px;
    border-bottom:1px solid gray;
    width: 100%;
}
.hot-deals-logo img
{
        width: 100%;
    padding: 15px;
}
.hot-deals-title
{
          text-align: center;
    padding: 0px 0px 0px 0px;

}
.hot-deals-title p
{
    color: #555555;
}
.hot-deals-sale p
{
    text-align: center;
    font-size: 23px;
    color: #a51319;
        padding-bottom: 25px;
}

.slider-container img
{
    
    height: 100%!important;
}
.sooq-online
{
    padding: 5px;
width: 100%;
    background-color: #fff;
}
.sooq-online h3
{
        border-bottom:1px solid gray;    
}
.sooq-products
{
    margin-bottom: 30px;
    text-align: center;
}
.sooq-product-img img
{
    width: 100%;
        height: 200px;
}

.sooq-product-title p
{
    font-size: 11px;    
}
.sooq-prices
{
    padding-left: 15px;
}
.old-price
{
    display: inline-block;
}

.old-price p
{

    color: #808080;
font-size:11px;
    text-decoration-line: line-through;
}
.new-price
{
    display: inline-block;
}
.cart-btn {
    background-color: #a51319;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 6px;
    padding-top: 2px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.cart-btn a
{
    color: #fff;
    text-decoration: none;
}
.old-price p
{
    font-size: 12px;
}
.new-price p
{
    font-size: 11px;
}
.new-price p
{
    padding-left: 5px;
}
.mechandise
{
    margin-bottom: 50px;
}
.sooq-all-products
{
    padding-bottom: 65px;
}
.Classified
{
    padding: 13px;
    background-color: #fff;
        margin-bottom: 50px;
}
.Classified h3
{
    border-bottom: 1px solid gray;
    width: 100%;
}
.classfied-product-img img
{
  width: 100%;
}
.classfied-content
{
    text-align: center;
}
.classfied-old-price
{
    display: inline-block;
}
.classfied-old-price p
{
    color:#808080;
        padding-right: 20px;
    padding-left: 10px;
    text-decoration: line-through;
}
.classfied-new-price
{
    display: inline-block;
}
.classfied-product-title
{
    text-align: center;
}
.special-deals
{
    background-color: #fff;
}
.special-deals h2
{
    border-bottom: 1px solid gray;
    width: 100%;
}
.speical-title h2
{
    padding: 7px 38px 7px 0px;
}
.deal-img img
{
    width: 100%;
}
.special-deals
{
    text-align: center;
}
.deal-title p
{
    color: #808080;
    font-size: 15px;
}
.deal-sale p
{
    font-size: 20px;
    color: #a51319;
}
.special-deals
{
    margin-bottom: 50px;
}
.news-letter
{
    background-color: #fff;
        margin-bottom: 30px;

}
.news-letter h3
{
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 5px;
}
.form
{
        padding: 10px;
    
}
.news-letter p {
    font-size: 13px;
}
#signup
{
        width: 94%;
    height: 35px;
    background-color: #f3f3f3;
}
.signup-btn {
    width: 90px;
    height: 40px;
    padding-top: 7px;
    margin-top: 15px;
    background-color: #a51319;
    text-align: center;
    border: 1px solid #a51319;
    border-radius: 18px;
        margin-bottom: 50px;
}
.product-banner
{
    margin: 5px;
}
.signup-btn a
{
    color: #fff;
    text-decoration: none;
}
.product-banner-img
{
        width:100%;
        margin-bottom: 20px;
}
.product-banner-img img {
    width: 100%;
    height: 260px;
}
.best_seller
{
        margin-bottom: 30px;
            padding: 5px;
    background-color: #fff;
}
.best-seller-title p
{
font-size:15px;
}
.best_seller h3
{

    border-bottom:1px solid gray;
    width: 100%;
    padding: 10px;
}
.best-seller-item-img {
    width: 90%;
    background-color: grey;
    border-width: 1px;
    border-style: solid;
    padding-top: 7px;
    margin-bottom: 10px;
    border-color: grey;
    border-image: initial;
    border-radius: 50%;
}
.best-seller-item-img img {
    width: 75%;
    padding-top: 10px;
    height: 140px;
}
.best-seller-price p
{
    font-size: 25px;
}
.best-seller-item
{
        margin-bottom: 30px;
        padding-left: 10px;
font-size:15px;
    text-align: center;
}
.side-products-img 
{
        max-height: 100%;
    margin-bottom: 20px;
}
.side-products-img img {
    width: 100%;
   height: 740px;
}
.new-item-text p
{
    font-size: 14px;
}
.product-display-item img
{
    width: 100%;
    height: 260px;
    
}
.product-display-item
{
    margin-bottom: 40px;
}
.new-item
{
        margin-bottom: 90px;
}
.new-items
{
    background-color: #fff;
        padding: 14px;
 
}
.new-items h2
{
      border-bottom: 1px solid gray;
    width: 100%;
        padding: 10px;
}
.new-item-img img {
    width: 70%;
    float: left;
    height: 120px;
margin-bottom: 12px;

}
.new-cart-btn {
    background-color: #a51319;
    width: 100px;
    height: 30px;
    float: left;
    text-align: center;
    border-radius: 6px;
    padding-top: 2px;
    position: relative;
    /* padding-top: 16px; */
    left: 10%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.new-item-price p {
    font-size: 17px;
}
.new-cart-btn a
{
    color: #fff;
    text-decoration: none;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}

#clockdiv > div{
	border-radius: 3px;
	background: #a51319;
	display: inline-block;
}

#clockdiv div > span{
	border-radius: 3px;
	display: inline-block;
    background-color: #a51319;
}
#clockdiv2{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}

#clockdiv2 > div{
	border-radius: 3px;
	background: #a51319;
	display: inline-block;
}

#clockdiv2 div > span{
	border-radius: 3px;
	display: inline-block;
    background-color: #a51319;
}

#clockdiv3{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}

#clockdiv3 > div{
	border-radius: 3px;
	background: #a51319;
	display: inline-block;
}

#clockdiv3 div > span{
	border-radius: 3px;
	display: inline-block;
    background-color: #a51319;
}
#clockdiv4{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}

#clockdiv4> div{
	border-radius: 3px;
	background: #a51319;
	display: inline-block;
}

#clockdiv4 div > span{
	border-radius: 3px;
	display: inline-block;
    background-color: #a51319;
}

.smalltext{
	font-size: 16px;
}
.Products_completion
{
    background-color: #fff;
}
.completion_item {
    padding-left: 13px;
    text-align: center;
    margin-bottom: 55px;
}
.completion_item_img img {
    width: 100%;
    height: 200px;
}
.completion_item_img
{
}
.brand-img {
    line-height: 200px;
    text-align: center;
}

.brand-img img {
    
width:70%;
height:85px;
    margin-bottom: 50px;
}
.brands
{
    background-color: #58595b;
}
.webste-image img
{
    width: 100%;
}
.footer {
    background-color: #DDDDDD;
    padding-top: 50px;
}
.website_content p {
    color: #58595b;
    padding-top: 10px;
}
.website-crtical-infromation ul
{
    list-style: none;
}
.website-crtical-infromation ul li
{
    padding: 10px;
}

.website-crtical-infromation i
{
    color: #a51319;
}
.website-crtical-infromation span {
    padding: 5px;
    color: #616161;
    font-size: 9px;
}
.envolop a
{
    color: gray;
}
.social-info h2
{
    font-size: 20px;
}
.our-social
{
    display: inline-block;
    padding-top: 15px;
}
.our-social ul
{

list-style:none;
}
.our-social ul li
{

padding:8px;
}
.our-story p {
    font-size: 25px;
    text-align: center;
}
.our-social a {
    color: gray;
    text-decoration: none;
    font-size: 15px;
}
.fa-google-plus-g:before {
    padding: 8px;
}
.fa-vimeo-v:before {
    content: "\f27d";
    padding: 8px;
}
.footer_social-media span
{

    color: #939393;
}
.footer_social-media a
{
    text-decoration: none;
}
.footer_social-media span {
    color: #939393;
font-size: 11px;
}
.footer_social-media i
{
    color: #a32024;
    padding: 15px;
    padding-left: 5px;
}
.our-social a:hover
{
    
    color: ghostwhite;
}
.footer_social-media
{
    display: inline-block;
    padding-left: 50px;
}
.store-info i
{
    color:#a32024;
}
.store-info span
{
    color: gray;
    padding: 5px;
}
.payment-info h2
{
    margin-top: 45%;
}

.card-img
{

}
.card-img img
{
    margin: 10px;
    width: 100%;
}
@media screen and (max-width:767px) and (min-width: 552px) {

.news-letter {
    background-color: #fff;
    position: absolute;
    bottom: 30%;
    left: 127%;
    width: 202px;
}


}   
