/* Tamkeen For Academic Excellence*/

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: 'Almarai', sans-serif;
}

.top-header {
    background-color: #004a6b;
    width: 100%;
}

.phone-number {
    padding-top: 5px;
    font-size: 20px;
    display: inline-block;
    color: #fff;
}

.phone-number i {
    margin-left: 18px;
    color: #00b2f0;
}

.login-border {
    display: inline-block;
    height: 100%;
    height: 28px;
}

.login a {
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
}

.social-media {
    float: right;
}

.social-media ul {
    list-style-type: none;
}

.social-media ul li {
    display: inline-block;
    padding: 10px;
}

.social-media ul li a {
    color: gray;
}

.blue:hover {
    color: #00b2f0;
}
.login-img img
{
    display: inline-block;
    max-width: 100%;
}
.tamkeen-text
{
    color:#044f6e;
    padding-top: 30px;
    text-align: center;
    display: none;
}
.contact {
    color: #fff;
    font-size: 20px;
}

.main-header {
    padding-top: 15px;
}

.logo-img img {
    max-width: 100%;
}

.main-nav ul li {
    padding: 9px;
}

.main-nav ul li a {
    color: #333333;
    font-size: 14px;
    
}

.apply-button {
    width: 150px;
    height: 60px;
    border: 1px solid #004a6b;
    background-color: #004a6b;
    float: left;
}

.apply-button p {

    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-size: 19px;
}

.slider {
    margin-top: 20px;
    max-width: 100%;
}

.book-background {
    position: relative;
    width: 100%;

}

.book-background img {
    width: 100%;

}

.blue-background {
    opacity: 0.9;
    height: 50px;
    filter: alpha(opacity=50);
    background-color: #004a6b;
}

.slider-text {
    width: 99%;
    top: 0;
    padding-top: 80px;
    right: 5px;
    position: absolute;
}

.slider-text h1 {
    font-size: 45px;
    color: #fff;
}

.slider-text p {
    padding-top: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.services-section {
    width: 100%;
}

.services {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border: 1px solid gray;
}


.slider-overlay {
    position: absolute;
    background-color: #004a6b;
    top: 0;
    width: 100%;
    right: 0;
    height: 100%;
}


.blue-center-line {

    width: 35%;
    height: 1px;
    background-color: #01b2f0;
    justify-content: center;
}

.services-item {
    height: 100%;
    color: blue;
    text-align: center;
    padding: 25px;
    font-size: 28px;
}
.services-item i 
    font-size: 35px;
    float: right;
    color: #01b2f0;
}

.services-item p {
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.website-goal {
    padding-top: 80px;
    background-color: #f9f9f9;
    height: 100%;
}



.project-goals h3 {
    text-align: right;
}

.project-goals h4 {
    margin-top: 30px;
    text-align: right;
    font-size: 12px
}

.project-goal-img img {
    max-width: 99%;
}

.volnteer-button {
    float: right;
    width: 130px;
    height: 50px;
    border: 1px solid #004a6b;
    background-color: #004a6b;
    margin-top: 10px;
}

.volnteer-button p {
    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
}

.upper-text p {
    margin-top: 25px;
    font-size: 25px;
}

.all-news p,
h1 {
    text-align: center;
}

.charity-news p,
h1 {
    text-align: center;
}

.lower-background {
    background-image: url("image/lightbg3.jpg");
    height: 250px;
    background-repeat: no-repeat;
}

.all-news h1 {
    font-size: 45px;
    color: #01b2f0;
}

.charity-news h1 {
    font-size: 45px;
    color: #01b2f0;
}

.news-background img {
    width: 99%;
}

.news-cards {
    padding-top: 25px;
    border: 1px solid #fff;
}

.card-img img {
    max-width: 99%;
}

.card-text {
    padding: 15px;
    height: 100%;
    text-align: right;
    background-color: #fff;
}

.card-text p {
    font-size: 15px;
    text-align: right;
}

.card-link {
    text-align: right;
    font-size: 20px;
    color: #004a6b;
}
.upper-background
{
        height: 100%;
    background-position: center;
    background-image: url("image/Untitled-1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
 background-size: 100% 850px;
}
.lower-background
{
     background-repeat: no-repeat;
    background-image: url("image/lightbg3.jpg");
    background-position: bottom;
    background-size: 100% 100%;
    padding-top: 100px;
}
.v-box {

    width: 75%;
    outline: 20px solid rgba(65.9, 65.9, 65.9, .5);
    height: 250px;
    background-color: #fff;
    justify-content: center;


}

.v-content {
    justify-content: center;

    padding-top: 30px;
    text-align: center;
}

.btn-border {
    justify-content: center;
    border: 1px solid #fff;
    background-color: #004a6b;
    width: 150px;
}

.btn {

    color: #fff;
}

.v-content h1 {
    font-size: 25px;
    color: #004a6b;
}

.v-content p {
    font-size: 20px;
}

.website-goals {
    margin-top: 180px;
}
.student-btn 
{
    color: black;
}
.goal-item {
    border: 1px solid white;
    background-color: #01b2f0;
    border-radius: 50%;
    padding: 50px 0px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.goal-item i
{
    font-size: 64px;
}
.goal-img img {
    max-width: 100%;
}

.goal-text p {
    text-align: center;
    
}

.banner {
    background: #000 url(image/clock2.png);
    text-align: center;
    max-width: 100%;
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.banner-content {
    padding-top: 50px;
    color: #fff;

}

.banner-title {
    margin: 15px;
}

.banner-desc {
    margin-bottom: 20px;
    font-size: 30px;
}

.banner-content h1 {
    margin-bottom: 50px;
}
.student-btn {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
    margin: 35px;
}

.show-more-btn {
    border: 1px solid #fff;
    background-color: #004a6b;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin:50px;
}

.show-more-btn a {
    color: #fff;
}

.footer {
    padding-top: 80px;
    text-align: right;
    background-color: black;
    height: 100%;
}

.tamkeen-info h5 {
    color: #fff;
}

.tamkeen-info p {
    margin-top: 60px;
    color: gray;
}

.contact-us h5 {
    color: #fff;
}

.contact-info {
    margin-top: 20px;
    color: gray;

}

.hr {
    margin-top: 50px;
    border: 2px solid gray;
    width: 100%;
}
.news-cast {
    text-align: right;
    color: #fff;
}

.form-control {
    border: 1px solid #fff;
    padding: 25px;

}

.email i {
    position: relative;
    top: 35px;
    float: left;
    color: black;
}

.soical-media-2 {
    margin: 20px;
}

.soical-media-2 a {
    color: gray;
    padding: 10px;
}
.footer h4
{
    font-size: 12px;
    padding: 20px;
}
/*media query*/
@media screen and (max-width:767px) {
    .apply-btn
    {
        margin-top: 50px;
    }
.project-goal-img
    {
        float: right;
    }
    .project-goal-img img
    {
        width: 100%;
    }
    .main-header
    {
        display: none;
    }
    .tamkeen-text
    {
        padding-left: 150px;
        
        display: inline-block;
    }
    .upper-background
    {
        background-image: none;
    }
    .lower-background
    {
        background-image: none;
    }
}
@media screen and (max-width: 991px) {
     .services-item i {
        display: none;
    }

    .services-item p {
        display: none;
        
    }

    .services-item {
        border: none;
    }
    .services-item
    {
        display: none;
    }
    

    .blue-center-line {
        display: none;

    }
}

@media screen and (max-width: 816px) {

    .slider-text {
        width: 99%;
        top: 0;
        padding-top: 80px;
        right: 5px;
        position: absolute;
    }

    .slider-text h1 {
        font-size: 25px;
        color: #fff;
    }

    .slider-text p {
        padding-top: 50px;
        font-size: 15px;
        padding-top: 10px;
        color: #fff;
        text-align: center;
    }


    .services-item i {
        display: none;
    }

    .services-item p {
        display: none;
        ;
    }

    .services-item {
        border: none;
    }

    .blue-center-line {
        display: none;

    }
    .banner-desc {
    margin: 15px;
    font-size: 15px;
}
}


.d-noone{
 display: none;
    
}
@media screen and (max-width: 576px) {
    .navbar-toggler
    {
        position: relative;
        left: 280px;
        bottom: 60px
    }
    .upper-background
    {
        background-image: none;
    }
    .lower-background
    {
        background-image: none;
    }
    .project-goal-img
    {
        float: right;
    }
}