body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    width: 99%;
}
.logo-text h4
{
    font-size: 19px;
}
.logo-img {
    display: inline-block;
    float: left;
}

.logo-img img {
  
    margin-right: 20px;
}

.logo-text {
    float: left;
    padding-top: 20px;
}

.logo-text p {
    font-size: 12px;
}



.top-nav ul {
    list-style-type: none;
}

.top-nav ul li {
    display: inline-block;
    padding: 8px;
}

.top-nav ul li a {
    color: #797979;
}

.form-control {
    border-radius: 50px;
    width: 170px;
    background-color: #bfbfbf;
}


.main-nav {
    float: right;
    width: 100%;
}

.main-nav ul li {
    padding: 0px 11px;
}

input[type='search'] {
    background-image: url("../images/search.png");
    background-size: 30px;
    background-position: 133px 5px;
    background-repeat: no-repeat;
}

.nav-item a {
    color: black;
}

.slider {
    
    border: 3px solid brown;
    width: 100%;
}

.slider-img img {
    width: 100%;
}

.about-us h1 {
    text-align: center;
}

.catagory-item {
    margin-bottom: 10px;
    border: 1px solid #eeeeee;
    border-radius: 150px;
    width: 200px;
    height: 209px;
    padding: 50px;
}

.catagories {
    padding-left: 100px;
}

.about-us {
    text-align: center;
}

.catagory-caption {
    padding-top: 20px;
    font-size: 16px;
}

.about-us-discription p {
    color: gray;
    text-align: left;
    padding-top: 50px;
}

.btn {
    padding-top: 15px;
}

.btn button {
    border: 1px solid #eeeeee;
    width: 100px;
}

.background {
  background: url("../images/bg-2.jpg") no-repeat; 
     background-size: 100% 100%;
}

.latest-news {
    padding-top: 30px;
    margin-top: 20px;
}


.news-articles h2 {
    color: #b31e3c;
}

.news-date p {
    color: #a8b9cb;
}

.news-discription p {
    width: 90%;
    font-size: 20px;
    color: #b31e3c;
}

.news-link a {
    color: #578196;

}

.hr {
    border-bottom: 1px solid #578196;
    width: 70%;
    margin-top: 15px;
}

.explore-link h5 {
       color: #b31e3c;
    font-size: 18px;
}

.website-info-box {
    margin: 25px;
    box-sizing: border-box;
    margin-top: 50px;
    border: 1px solid brown;
    padding: 25px;
}

.latest-news-items {
    margin-top: 20px;
}

.website-info-img img {
    float: left;
    margin-right: 20px;
}
.web-info-title h3 {
    color: #b31e3c;
    
    font-size: 20px;
}
.news-explore a
{
    color: #578196;
}

.web-info-discription p {
    font-size: 13px;
}

.our-products
{
    width: 100%;
    background-image: url("../images/productbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.our-products h1
{
    text-align: center;
    color: #fff;
}
.our-product-item-img
{
    max-width: 100%;
}
.our-product-item-title h5
{
      color: #fff;
    width: 120px;
    font-size: 12px;
}
.explore-product
{
    padding-top: 10px;
}
.explore-product a
{
    display: inline-block;
    border-radius: 40px;
    padding: 5px;
    background-color: #b31e3c;
    border: 1px solid #b31e3c;
    color: #fff;
}
.our-products
{
    background: url("../images/productbg.jpg");
}
.our-product-item-title
{
    margin: 15px 5px 5px 10px;
}
.our-product-item-img img
{
 width: 100%;
}
.our-products-items
{
    padding-left: 25px;
    display: inline-block;
}

.footer
{
    background-color: #2f2f2f;
    height: 100%;
}
.contact
{
    color: #fff;
}
.contact ul li
{
    list-style-type: none;
}
.news-header-img
{
    background-image: url("../images/newsheader.png");
    height: 250px;
    background-repeat: no-repeat;
}
.news-articles
{
    margin: -180px 0px 20px 80px;
}
.contact p
{
    
    text-align: center;
    font-size: 12px;
}
.footer-links ul li
{
    list-style-type: none;
    padding: 10px;
}
.footer-links
{
    text-align: center;
    font-size: 12px;
}
.footer-links ul li a
{
    color:#fff;
}
.footer
{
    width:100%;
}
.social-media
{
    font-size: 14px;
    color: #fff;
    display: inline-block;
    
}
.social-media p
{
    width: 500px;
}

.condition a
{
    
    color: #fff;
    padding: 10px;
}
.socail-media
{
    text-align: center;
    width: 100%;
    margin: 20px;
    display: inline-block;
}
.socail-media h4
{
    font-size: 14px;
    display: inline-block;
}
.socail-media i
{
    
    display: inline-block;
    background-color:#fff; 
    padding: 5px;
    border: 1px solid #8b938e;
    border-radius: 30px;
}
