body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.jordan-logo {
    position:relative;
    top: 50px;
}



.search-form {
    padding-top: 50px;
}

.search-form .input-group input {
    background-color: #fbfafa;
}

.search-btn {
    background-color: brown;
    border: none;
}

.search-btn i {
    color: #fff;
}

.first-header .first-nav ul {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

.first-header .first-nav ul li a {
    font-size: 18px;
    color: #000;
}

.first-nav {
    padding: 10px
}

.hello {
    width: 120px;
    text-align: right;
}

.hello i {
    color: #d0d0d0;
    padding-left: 5px;
}

.second-header {
    width: 99%;
    background-color: brown;
}

.second-nav ul {
    padding-left: 65px;
}

.second-nav ul li a {
    font-size: 15px;
    color: #fff;
    padding: 20px;
}

.cart {
    padding-top: 10px;
}

.cart p {
    display: inline-block;
    font-size: 15px;
    color: gray;
}

.btn-outline-danger {
    display: inline-block;
    width: 90px;
    background-color:
        red;
    color: #fff;
    border: none
}

.slider {

    width: 100%;
    padding-bottom: 20px;
}

.slider-image img {
    width:99%; 
    height: auto;
}

.jordan-products {
    background-color: #f5f5f5;
    width: 99%;
}

.jordan-product-box {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
}

.jordan-product-box strong {
    color: #8e363b;
}

.button-move i {
    padding: 10px;

}

.image-content img
{
    width: 99%;
    height: 100%;
}
.hr {
    width: 99%;
    border: 1px solid #dbdbdb;
}



.product-img img {
    width: 99%;
    height: 200px;;
    transition:all 1s ease-in;
}

.product-title {
    width: 250px;
}
.product-img:hover
{
    transform: scale(1.1);
    transition: all 1s ease-in;
    filter: brightness(.5);
}
.product-title h4 {
    font-size: 12px;
}

.product-descrption {
    width: 200px;

}

.product-descrption p {
    font-size: 10px;
    color: gray;
}

.price {
    padding-top: 15px;
    text-align: center;
}

.first-header {
    width: 99%;
}

.price h5 {
    color: #8e363b;
    margin-right: 18px;
    padding-bottom: 20px;
}

.form-img img {
    width: 99%;
    height: auto;
}

.product-main-section1 {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 99%;
    margin-bottom: 50px;
}

.product-main-section1 h5 {
    padding: 5px;
    color: #8e363b;
}

.main-images {
    padding: 15px;
}

.main-images img {
    width: 99%;
    height:100%;
}

.vertical-images {
    text-align: center;
    padding-top: 15px;
    width: 99%;
    
}
.vertical-images

.Traditional-Embroidery {
    margin-top: 50px;
    height: 600px;
}

.Traditional-Embroidery-box {
    border-top: 5px solid brown;
    border-left: 1px solid brown;
    border-right: 1px solid brown;
    border-right: 1px solid brown;
    border-bottom: 1px solid brown;
    width: 99%;
    margin-bottom: 50px;
    background-color: #fff;
}
.dead-sea-box
{
    background-color: #fff;
     border-top: 5px solid brown;
    border-left: 1px solid brown;
    border-right: 1px solid brown;
    border-right: 1px solid brown;
    border-bottom: 1px solid brown;
    width: 99%;
    margin-bottom: 50px;
}
.main-products
{
    width: 99%;
    height: 100%;
}
.main-products .product-title h5
{
   font-size: 12px
}
.main-products .price p
{
    color: #8e363b;
}
.product-discription p
{
    color: gray;
    font-size: 10px;
}
.product-title p
{
    padding: 15px;
    font-size: 10px;
}
.product-box img
{   
    padding: 15px;
}

.product-price p
{
    
    text-align: center;
    width: 99%;
    color:#8e363b; 
}
.product-description p
{
    font-size: 10px;
    width: 250px;
    color:gray;
    padding: 15px;
}
.image-content
{
    height: 100%;
}
.sidebar-img 
{
    height: 100%;
}
.image-content .sidebar-img img
{
    height: 100%;
    
}
footer
{
    width: 99%;
}
.footer
{
         border-top: 5px solid brown;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #282828;
}

.footer-nav ul li a
{
    
    list-style-type: none;
        color:#7d8d90;
}
.icon
{    padding: 50px;   
}
.icon i
{
    font-size: 24px;
    background-color: #7d8d90;
    border: 1px solid #7d8d90;
    border-radius: 50px;
    padding: 20px;
    color: #282828;
}
.icon p
{
    font-size: 13px;
}
.footer-navbar i
{
    color:#8b938e;
    
}
.footer-navbar ul li a
{
    color:#8b938e;
}
.terms
{
    color:#8b938e; 
}
.customer-service h4
{
    color: #8b938e;
}
.customer-service p
{
        color: #8b938e;
}
.socail-media i
{
    background-color:#8b938e; 
    padding: 5px;
    border: 1px solid #8b938e;
    border-radius: 30px;
}
.img-logo img
{
    width: 200px;
    float: right;
}