body
{
    margin: 0;
    padding: 0;
    font-family: "Helvetica",Arial,sans-serif;
}
.row
{
    width: 100%;
}

.logo
{
    width: 70%;
    margin: 20px;
}
.logo img
{
    max-width: 100%;
    height: auto;
    max-height: 150px
}
.contact-information
{
    background-image: linear-gradient(to right, #fff , #e7e8e8);
    padding-top: 25px;
    background-color: #dcddde;
    max-height: 85px;
    height: 100%;
}
.contact-icon
{
    width: 80%;
}
.contact-information i
{
    color: #a32024;
    margin-left: 20px;
    
}
.container i span
{
    font-size: 12px;
    color: gray;
    padding-left: 8px
}
.search
{
    padding-top: 50px;
}
.search input
{
    display: inline-block;
    background-color:#dcddde;
    width: 400px;
    border-right: none;
}
.search-button
{
    display: inline-flex;
    display: inline-flex;
    border: 1px solid #a32024;
    background-color: #a32024;
    border-radius: 10%;
    width: 60px;
        text-align: center;

}

.search-button i
{
    padding: 8px;
    color: #fff;
    margin: 0 auto;
}
.main-nav
{

        padding-top: 88px;
}
.main-nav ul li
{
    
    padding: 25px;
}
.main-nav ul li a
{
    text-decoration: none;
    color: #58595b;
}
.cool-links::after
{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #a32024;
    transition: width .3s;
}
.cool-links:hover::after
{
    width: 100%;
    transition: width .3s;
}
.slider
{
    position: relative;
}
.slider-img img
{
    width: 100%;
    height: auto;
    max-height: 400px;
}
.slider-text
{
        position: absolute;
    top: 124px;
    width: 50%;
    left: 68px;
    color: #fff;
}
.slider-text h1
{
        font-size: 47px;
}
.slider-buttons
{
    position: absolute;
    top: 330px;
    left: 70px
}
.btn
{
    font-size: 12px;
    margin: 15px;
    background-color: #a41e22;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    color: #fff;
}
.KCORP-INTRODUCTION
{
    padding-top: 20px;
    padding-left: 50px;
}
.kcorp-content
{
    padding-top: 50px;
    margin-bottom: 29px;
}
.kcorp-content span
{
    color: #005495;
}
.kcorp-content p
{
    font-size: 20px;
}
.kcorp-introduction-image img
{
    height: auto;
    width: 100%;
    max-height: 450px;
}
.blue-btn
{
background-color: #005495;
    padding: 11px;
    width: 97px;
    color: #fff;
    text-align: center;
    height: 30px;
    font-size: 9px;
    border: 1px solid #005495;
    border-radius: 4px;
    margin-bottom: 20px;
}
.offers
{
        margin-top: 20px;
    padding-top: 20px;
    background-color: #f2f2f3;;
}
.offer-img img
{
    display: inline-block;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 4px solid #f2f2f3;
    padding: 2px;
}
.offers-content
{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    
    transition: .2s;
}
.offers h5
{
    text-align: left;
    color: #999b9e;
}
.offers span
{
    color: #999b9e;
}
.offers h1
{
    text-align: center;
    color: #58595b;
}
.offer-text
{
    margin-top: 20px;
}
.offer-description
{

color: #58595b;
    font-size: 19px

}
.offer-description p
{
    font-size: 13px;
    text-align:left;
}
.products
{
   
 margin-top: 20px   
}
.products h2
{
    color: #58595b;
    text-align: center;
}

#gear-img
{
    padding: 20px;
    background-image: url("../images/Untitled-4.png");
    background-size: 100% 100%;
    transition: transform 3s ease-in-out;
}
#gear-img:hover
{
      transform:rotate(180deg);  
}
#gear-img:hover img

{
      transform:rotate(-180deg);   
}
.inside-img
{
    
    width: 200px;
    height: 200px;
    
}
.inside-img img
{
    width: 160px;
    height: 160px;
    overflow: hidden;  
    transition: transform 3s ease-in-out;
}
.product-title h2
{
    margin-top: 20px;
    color: #105f9c;
}

.product-types ul
{
    list-style-type: none;
    text-align: center;
}
.product-types ul li
{
    
    margin: 5px;
    border-bottom:1px solid gray;
}
.help-form
{
width: 80%;
}
.read-more-btn
{
    padding-left: 35px
}

.service
{
    background-image: url("../images/bgall2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 300px;
    height: 100%;
    margin-bottom: 30px;
}
.service-text h1
{
    color: #fff;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 20PX;
}

.qualfication
{
    background-image: url("../images/bgall5.jpg");
    background-size: 60% 100%;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-color: #dbdbdb;
    margin-bottom: 30px;
}
.qualfication-item
{
      width: 30%;
    padding-top: 25px;
}

.qualfication h5
{
    color: #fff;
    text-align: right;
    padding-top: 65px;
}


.simicircle
{
    margin-bottom: 20px;
    width: 77px;
    height: 80px;
    background-color: white;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    background: linear-gradient(90deg, rgba(0,65,120,.4) 55%, rgba(120,171,205,.7) 50%);
    float: left;
    margin-right: 20px;
    border-left: 0;
}
.simicircle
{
   padding: 25px; 
}
.item-text p
{
    padding-top: 20px;
    color:#646464;
}
.help
{
    background-image: url("../images/bg4.jpg");
    background-size: 100% 100%;
    height:100%;
    background-repeat: no-repeat;
}

.help
{
    text-align: center;
    padding-top: 20px;
}
.help-text h1
{
    color: #fff;
}
.help-text h3
{
    color: #fff;
}
.help-des p
{
    color: #fff;
    padding-top: 15px;
}


.form-input
{
     margin: 10px;
       background-color: red;
    width: 50px;
    background-color: #a9a8a8;
 
}
.help-btn
{

background-color: #005495;
    padding: 8px;
    width: 97px;
    color: #fff;
    text-align: center;
    height: 30px;
    font-size: 9px;
    border: 1px solid #005495;
    border-radius: 4px;
    margin-bottom: 20px;

}
.help-button
{
    padding-top: 20px;
}

.map-section
{
    margin-top: 30px;
}
.map-section iframe
{
    width: 100%;
    height: 300px;
}


.footer
{
    background-position: center center; 
    background-image: url("../images/footer-bg02.png");
    background-size: 100% 100%;
    width: 100%;
    background-color: #0000ff96;
    background-repeat: no-repeat;
  
}
.footer-contact
{
    color: #fff;
}
.footer-contact h4
{
    margin-bottom: 50px;
}
.footer-contact p
{
    color: #fff;
    font-size: 12px;
}
.footer-links h4
{
    color: #fff;
}
.footer-links ul
{
    list-style-type: none;
}
.fas fa-caret-right
{
    color: #fff;
}
.footer-links i
{
    padding-right: 20px;
}
.footer-links ul li
{
    color: #fff;
    margin: 10px;
}
.footer-links ul li a
{
    color: #fff;
    text-decoration: none;
}
.social-media ul 
{
    padding: 0;
}
.social-media ul li
{
    display: inline-block;
    padding: 10px;
  
}
.social-media i
{
    margin-top: 50px;
     background-color: #fff;
    border-radius: 50%;
    padding: 12px;
    
}
.contact
{
    color: #fff;
}
.contact ul
{
    list-style: none;
    padding: 0;
}
.contact ul li
{
    margin: 10px
}
.contact ul li i
{
    margin: 10px;
}
.blue-background {
    opacity: 0.8;
    height:100%;
    filter: alpha(opacity=50);
    background-color: #004a6b;
    padding-top: 80px;
}
.footer-search input
{

    display: inline-block;
    background-color:#dcddde;
    width: 275px;
    border-right: none;
}
.footer-search-button
{
    display: inline-flex;
    display: inline-flex;
    border: 1px solid #a32024;
    background-color: #a32024;
    border-radius: 10%;
    width: 60px;
        text-align: center;
}
.footer-search-button i
{
    text-align: center;
    color: #fff;
    padding: 10px
}
.copyrght 
{
    background-color: gray;
    height: 50px;
}
.copyrght p
{
    margin: 0;
    text-align: center;
}






































@media  screen and (max-width: 800px) and (min-width: 360px){
.slider-text {
    position: absolute;
    top: 24px;
    width: 50%;
    left: 68px;
    color: rgb(255, 255, 255);
}
    .slider-text h1 {
    font-size: 15px;
}
    .slider-buttons {
    position: absolute;
    top: 70px;
    left: 39px;
}
    .btn {
  font-size: 5px;
    background-color: rgb(164, 30, 34);
    width: 69px;
    height: 20px;
    color: rgb(255, 255, 255);
    margin: 15px;
    border-radius: 10px;
}
    
}